html {
    font-size: 62.5%;
}
.cart-container{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
:root {
    --primary_color: #E75C6B;
}

.cart-title {
    width: 100%;
    font-size: 4rem;
    color: var(--primary_color);
    /* padding: 25px 0 18px 25px; */
}

.line {
    background-color: var(--primary_color);
    height: 1px;
}

.cart {
    display: grid;
    grid-template-columns: 0.5fr 3fr 2fr 1.5fr 2fr 0.5fr;
    /* background-color: var(--primary_color); */
    text-align: center;
    align-items: center;
    font-weight: bold;
    font-size: 3rem;
    color: var(--primary_color);
    padding: 20px 0 20px 0;
}

.cart-product {
    display: grid;
    grid-template-columns: 0.5fr 3fr 2fr 1.5fr 2fr 0.5fr;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 2.5rem;
    /* margin: 5% 2%; */
}

.cart-info {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
}

.product-description {
    text-align: left;
    padding-left: 10%;
}

.price-info {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
}

.price {
    text-align: right;
    /* margin-right: 25%; */
}

.currency {
    text-align: left;
    margin-left: 10px;
}

.quantity-box {
    display: flex;
    justify-content: center;
    text-align: center;
}

.quantity-box button,
.quantity-box input {
    height: 35px;
    width: 35px;
    border: none;
    outline: none;
    text-align: center;
    font-weight: bold;
    background-color: #f1f1f1;
    color: #333333;
    font-size: 16px;
    padding: 0;
}

.quantity-decrease {
    border-radius: 50% 0 0 50%;
    cursor: pointer;
}

.quantity-increase {
    border-radius: 0 50% 50% 0;
    cursor: pointer;
}

.order-info {
    display: flex;
    margin-top: 2%;
}

.voucher{
    flex: 1;
}

.total {
    flex: 1;
    font-size: 2rem;
    padding: 5px;
    text-align: right;
}

.voucher-info {
    display: grid;
    margin: 3% 0 8% 0;
    grid-template-columns: 3fr 1fr;
}

#input-voucher {
    border-radius: 20px 0 0 20px;
    border: 1px solid var(--primary_color);
    border-right: none;
    background-color: white;
    color: black;
    font-style: bold;
    text-align: center;
    width: 100%;
    height: 45px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

#input-voucher:focus {
    border: 1px solid var(--primary_color);
}

#input-voucher::placeholder {
    border: var(--primary_color);
    color: gray;
}

#apply {
    background-color: var(--primary_color);
    font-weight: bolder;
    color: white;
    border: none;
    outline: none;
    border-radius: 0 20px 20px 0;
    text-align: center;
    vertical-align: middle;
    height: 49px;
    font-size: 16px;
    width: 100%;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

#apply:hover {
    background-color: gray;
}

#apply:disabled {
    background-color: gray;
    cursor: not-allowed;
    color: white;
}

.row {
    display: flex;
    margin-bottom: 10px;
}
.label {
    flex: 1;
    text-align: left;
}
.total_price  {
    flex:1
}

.total {
    margin-left: 20%;
}
.voucher-title {
    font-size: 2rem;
    color: var(--primary_color);
}
.input {
    background-color: var(--primary_color);
    color: white;
    border: none;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    height: 35px;
    text-align: center;
    vertical-align: middle;
    margin-top: 10px;
    font-size: 2rem;
}
.remove-all {
    width: 100px;
    margin-left: 20px;
}
.back {
    width: auto;
}

.button {
    display: flex;
}

.button_left {
    flex:1;
}
.button_right {
    flex:1;
    text-align: right;
}
.order {
    width: 120px;
}
