html {
    font-size: 62.5%;
}
:root {
    --primary_color: #E75C6B;
    --sub_color: #FFEAE9;
}

.main {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    max-width: 1000px;
}

.main-title {
    width: 100%;
    font-size: 2.5rem;
    color: var(--primary_color);
    font-weight: bold;
    padding: 10px;
}

.line {
    background-color: var(--primary_color);
    height: 1px;
    margin: 5px 0 5px 0;
}

.name {
    font-weight: bold;
    color: black;
}
.info {
    color: gray;
}
.def {
    border: 1px solid var(--primary_color);
    color: var(--primary_color);
    width: 75px;
    margin-top: 10px;
}

.button a {
    color: var(--primary_color);
    text-decoration: none;
}
.button a:hover {
    text-decoration: underline;
}

.list {
    display: grid;
    grid-template-columns: 0.1fr 2fr 0.5fr;
}

input[type=radio] {
    cursor: pointer;
}

#default1, #info2 {
    accent-color: var(--primary_color)
}

/* .add_button {
    border: 1px solid var(--primary_color);
    border-radius: 20px;
    width: 26%;
} */
.add {
    display: flex;
    border: 1px solid var(--primary_color);
    border-radius: 20px;
    background-color: var(--sub_color);
    width: 150px;
    padding: 5px;
    margin-top: 10px;
}
.add img {
    width: 18px;
    height: 18px;
}

.add button {
    border: none;
    background: none;
    cursor: pointer;
    width: 100vh;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    padding: 0;
    margin: 0;
}
.add button:hover {
    background: fixed;
}
.input {
    border: none;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    margin-top: 10px;
    font-size: 1.6rem;
    width: auto;
}

.back {
    width: 80px;
    background-color: var(--sub_color);
}

.confirm {
    background-color: var(--primary_color);
    color: white;
}
    
.button {
    text-align: right;
}

.button a {
    text-decoration: none;
}